/* Shared styles */
h2,
h3,
h4,
h5,
h6 {
    font-family: Open Sans;
}

h2 {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

h3 {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 5px;
}

h4 {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

h5 {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

p {
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 28px;
}

/* My Resume */
.resume-h2 {
    text-align: center;
}

.inner-container {
    max-width: 1140px;
    margin: 50px auto;
}

.my-resume {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 50px auto;
}

.edu-item {
    width: 500px;
}

hr {
    width: 558px;
    border: solid 1px #D1D1D1;
    margin: 20px 0;
}

.skill-item {
    width: 500px;
}